*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: black;
    height: auto;
}

.logo{
    width: 10%;
    height: 100%;
    padding-top: 20px;
    padding-left: 60px;
}
.logo-img{
    padding-left: 60px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    padding: 0px 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f5e6c8;
}
ul#menu{
    display: flex;
    padding: 0px 0px;
}

ul#menu a{
    text-transform: uppercase;
    padding: 10px 60px;
    display: block;
    color: #f5e6c8;
}
.menu{
    background-color: black;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.login-content{
    position: relative;
}

.login-form{
    width: 30%;
    height: 500px; 
    position: absolute; 
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(200, 204, 204, 0.7);
}

.style-title-login{
    width: 100%;
    height: 15%;
    text-align: center;
    line-height: 350%;
}

.center-form-login{
    width: 100%;
    height: 50%;
}

.input-form-login{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: -10%;
}

.label-form-login{
    display: block;
    padding-top: 30px;
    margin-left: 10%;
}

.bottom-form-login{
    width: 100%;
    height: 30%;
    position: relative; 
}

.button-form-login{
    width: 30%;
    padding: 10px;
    background-color: #8A6F21;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute; 
    left: 35%;
    border-radius: 10px;
}

.iconfb-form-login{
    position: absolute;
    bottom: 10%;
    left: 40%;
}

.icongg-form-login{
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.bottom-form-login a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #000000;
    padding: 40px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.column{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    padding: 0 10px;
    color: #f5e6c8;
    text-decoration: none;
    text-align: left;
}
.column a:hover {
    text-decoration: underline;
}

.title-footer{
    margin-bottom: 10px;
}

.line-footer{
    width: 100%;
    height: 5px;
    background-color: #f5e6c8;
    margin-bottom: 20px;
    border-radius: 2px;
}

.text-footer{
    line-height: 150%;
}

.social-icons{
    margin-top: 10px;
}
.social-icons a {
    margin-right: 10px;
    margin-top: 10px;
}  